<div class="form-group">
   {{input value=query class="form-control" placeholder="Search"}}
   {{input value=owner class="form-control" placeholder="Owner"}}
   {{input value=tags class="form-control" placeholder="Tags"}}
</div>
