<div class="row">
  <div class="col-sm-12">
    <h1>ember-arcgis-portal-services - {{env}}</h1>
    <p>This is the demo app (aka dummy) for this project.
      The demo app is NOT the expected user interface - it is merely a test-harness used
      during development and testing, and serves as an example of how to use the Services
      in  your own application.</p>
    <p>The addon itself is simply the services used to communicate with the Portal API</p>
    <h3>Services and Methods</h3>
  </div>
  <div class="col-sm-4">
    <h4>ItemsService</h4>
    <ul>
      <li>search</li>
      <li>getById</li>
      <li>getDataById</li>
      <li>create</li>
      <li>update</li>
      <li>remove</li>
      <li>getItemPageUrl</li>
      <li>uploadResource</li>
      <li>addResource</li>
      <li>getResources</li>
      <li>removeResource</li>
    </ul>
    <h4>OAuthService</h4>
    <ul>
      <li>registerApp</li>
      <li>updateApp</li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h4>GroupsService</h4>
    <ul>
      <li>search</li>
      <li>getById</li>
      <li>getItemsById</li>
      <li>create</li>
      <li>update</li>
      <li>remove</li>
      <li>users</li>
      <li>addUsers</li>
      <li>reassign</li>
    </ul>
    <h4>UsersService</h4>
    <ul>
      <li>search</li>
      <li>getByName</li>

    </ul>
  </div>
  <div class="col-sm-4">
    <h4>SharingService</h4>
    <p>We separate the concept of access (private/org/everyone) from group sharing to ensure deterministic responses.</p>
    <ul>
      <li>setAccess</li>
      <li>shareWithGroup</li>
      <li>unShareWithGroup</li>
      <li>changeGroupSharing</li>
      <li>isItemSharedWithGroup</li>
      <li>shareItemWithEveryone (deprecated: use setAccess)</li>
      <li>shareItemWithOrg (deprecated: use setAccess)</li>
      <li>shareItemsWithGroups (deprecated: use shareWithGroup)</li>
      <li>shareItemsWithControl (deprecated: use shareWithGroup)</li>
      <li>shareItems (deprecated: use other methods)</li>
    </ul>

    <h4>PortalService</h4>
    <p class="small">Works against the current user's portal. Does not provide auth checks.</p>
    <ul>
      <li>update</li>
      <li>uploadResource</li>
      <li>addResource</li>
      <li>getResources</li>
      <li>removeResource</li>
      <li>portalUsers</li>
    </ul>
  </div>
</div>
{{outlet}}
