<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <th>Username</th>
        <th>Revoke Access</th>
      </thead>
      <tbody>
        {{#each model.users as |user|}}
          <tr>
            <td>{{user}}</td>
            <td><button type="button" class="btn btn-danger" {{action "remove" user}}> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
