<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Create new Group</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Name</label>
      <div class="col-md-4">
      {{input value=title class="form-control input-md" placeholder="My New Group"}}
      <span class="help-block">Name of the Group is required</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Tags</label>
      <div class="col-md-4">
      {{input value=tags class="form-control input-md" placeholder="siteCollaboration"}}
      </div>
    </div>

    <!-- Multiple Checkboxes -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="checkboxes">Editing</label>
      <div class="col-md-4">
      <div class="checkbox">
        <label for="checkboxes-0">
          {{input type="checkbox" name="isEditable" checked=isEditable}}
          Members can edit items?
        </label>
    	</div>
      </div>
    </div>
    <button class="btn btn-primary" {{action "saveGroup"}}>Save</button>
    </fieldset>
    </form>

  </div>
</div>
